USE [master]
GO
/****** Object:  Database [NU_DB]    Script Date: 07/08/2018 10:28:28 PM ******/
CREATE DATABASE [NU_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NU_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.NGUYENNTT\MSSQL\DATA\NU_DB.mdf' , SIZE = 6144KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'NU_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.NGUYENNTT\MSSQL\DATA\NU_DB_log.ldf' , SIZE = 11200KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NU_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NU_DB]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 07/08/2018 10:28:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NULL,
	[isAdmin] [bit] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Bookmark]    Script Date: 07/08/2018 10:28:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookmark](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [nvarchar](50) NULL,
	[project_id] [int] NULL,
	[last_check] [datetime] NULL,
 CONSTRAINT [PK_Bookmark] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Genre]    Script Date: 07/08/2018 10:28:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genre](
	[genre_id] [nvarchar](50) NOT NULL,
	[genre] [nvarchar](150) NULL,
 CONSTRAINT [PK_Genre] PRIMARY KEY CLUSTERED 
(
	[genre_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GenreMap]    Script Date: 07/08/2018 10:28:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GenreMap](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[project_id] [int] NULL,
	[genre_id] [nvarchar](50) NULL,
 CONSTRAINT [PK_Tag] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Project]    Script Date: 07/08/2018 10:28:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Project](
	[project_id] [int] IDENTITY(1,1) NOT NULL,
	[project_name] [nvarchar](3000) NOT NULL,
	[project_alter_name] [nvarchar](4000) NULL,
	[project_publish_date] [date] NULL,
	[project_author] [nvarchar](500) NULL,
	[project_illustrator] [nvarchar](500) NULL,
	[project_synopsis] [nvarchar](4000) NULL,
	[project_hash] [nvarchar](500) NOT NULL,
	[project_tag] [int] NULL,
	[project_view] [int] NULL,
	[project_point] [int] NULL,
	[project_last_update] [datetime] NULL,
	[project_total_update] [int] NULL,
	[project_link] [nvarchar](500) NULL,
 CONSTRAINT [PK_Project] PRIMARY KEY CLUSTERED 
(
	[project_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TransGroup]    Script Date: 07/08/2018 10:28:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransGroup](
	[group_id] [int] IDENTITY(1,1) NOT NULL,
	[group_name] [nvarchar](200) NULL,
	[group_contact] [nvarchar](500) NULL,
 CONSTRAINT [PK_Groups] PRIMARY KEY CLUSTERED 
(
	[group_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UpdateChap]    Script Date: 07/08/2018 10:28:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UpdateChap](
	[update_id] [int] IDENTITY(1,1) NOT NULL,
	[update_name] [nvarchar](500) NULL,
	[update_vol] [int] NULL,
	[update_date] [datetime] NULL,
	[update_group] [int] NULL,
	[update_link] [nvarchar](500) NULL,
 CONSTRAINT [PK_Updates] PRIMARY KEY CLUSTERED 
(
	[update_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UpdateVol]    Script Date: 07/08/2018 10:28:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UpdateVol](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[vol_name] [nvarchar](50) NULL,
	[vol_no] [int] NULL,
	[vol_cover] [varchar](200) NULL,
	[project_id] [int] NULL,
	[vol_hash] [nvarchar](100) NULL,
 CONSTRAINT [PK_UpdateVol] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Account] ([username], [password], [isAdmin]) VALUES (N'admin', N'12345', 1)
INSERT [dbo].[Account] ([username], [password], [isAdmin]) VALUES (N'ass', N'123', 0)
INSERT [dbo].[Account] ([username], [password], [isAdmin]) VALUES (N'kaka', N'123456', 0)
SET IDENTITY_INSERT [dbo].[Bookmark] ON 

INSERT [dbo].[Bookmark] ([id], [account_id], [project_id], [last_check]) VALUES (14, N'ass', 34, CAST(N'2018-07-08 21:49:59.383' AS DateTime))
INSERT [dbo].[Bookmark] ([id], [account_id], [project_id], [last_check]) VALUES (16, N'ass', 32, CAST(N'2018-07-08 21:48:46.947' AS DateTime))
INSERT [dbo].[Bookmark] ([id], [account_id], [project_id], [last_check]) VALUES (17, N'ass', 73, CAST(N'2018-07-08 22:12:21.243' AS DateTime))
SET IDENTITY_INSERT [dbo].[Bookmark] OFF
INSERT [dbo].[Genre] ([genre_id], [genre]) VALUES (N'action', NULL)
INSERT [dbo].[Genre] ([genre_id], [genre]) VALUES (N'adult', NULL)
INSERT [dbo].[Genre] ([genre_id], [genre]) VALUES (N'adventure', NULL)
SET IDENTITY_INSERT [dbo].[GenreMap] ON 

INSERT [dbo].[GenreMap] ([id], [project_id], [genre_id]) VALUES (1, 1, N'adventure')
INSERT [dbo].[GenreMap] ([id], [project_id], [genre_id]) VALUES (2, 1, N'fantasy')
INSERT [dbo].[GenreMap] ([id], [project_id], [genre_id]) VALUES (3, 1, N'school life')
GO
SET IDENTITY_INSERT [dbo].[GenreMap] OFF
SET IDENTITY_INSERT [dbo].[Project] ON 

SET IDENTITY_INSERT [dbo].[Project] OFF
SET IDENTITY_INSERT [dbo].[TransGroup] ON 

INSERT [dbo].[TransGroup] ([group_id], [group_name], [group_contact]) VALUES (1, N'JakKupi', N'https://ln.hako.re/nhom-dich/57-jakkupi')
INSERT [dbo].[TransGroup] ([group_id], [group_name], [group_contact]) VALUES (2, N'DWR', N'https://ln.hako.re/nhom-dich/100-doge')
INSERT [dbo].[TransGroup] ([group_id], [group_name], [group_contact]) VALUES (3, N'Một Mình Thôi', N'https://ln.hako.re/nhom-dich/61-mot-minh-thoi')
SET IDENTITY_INSERT [dbo].[TransGroup] OFF
SET IDENTITY_INSERT [dbo].[UpdateChap] ON 

INSERT [dbo].[UpdateChap] ([update_id], [update_name], [update_vol], [update_date], [update_group], [update_link]) VALUES (1, N'Giới thiệu nhân vật', 1, CAST(N'2017-04-12 00:00:00.000' AS DateTime), 1, N'https://ln.hako.re/truyen/468-um-sorry-ive-been-reincarnated/c15051-gioi-thieu-nhan-vat')
INSERT [dbo].[UpdateChap] ([update_id], [update_name], [update_vol], [update_date], [update_group], [update_link]) VALUES (2, N'Chương 01: Mở đầu', 1, CAST(N'2017-03-03 00:00:00.000' AS DateTime), 1, N'https://ln.hako.re/truyen/468-um-sorry-ive-been-reincarnated/c15052-chuong-01-mo-dau')
INSERT [dbo].[UpdateChap] ([update_id], [update_name], [update_vol], [update_date], [update_group], [update_link]) VALUES (3, N'Chương 02: Cánh đồng hoa', 1, CAST(N'2017-03-01 00:00:00.000' AS DateTime), 1, N'https://ln.hako.re/truyen/468-um-sorry-ive-been-reincarnated/c15053-chuong-02-canh-dong-hoa')
GO
SET IDENTITY_INSERT [dbo].[UpdateChap] OFF
SET IDENTITY_INSERT [dbo].[UpdateVol] ON 

INSERT [dbo].[UpdateVol] ([id], [vol_name], [vol_no], [vol_cover], [project_id], [vol_hash]) VALUES (1, N'Arc 1', NULL, N'https://3.bp.blogspot.com/-lWxpE-NNnr8/WO29GtfaHAI/AAAAAAAAMO0/eeSTXy_msbg/w220/book_2087.jpg', 1, N'2120858638')
INSERT [dbo].[UpdateVol] ([id], [vol_name], [vol_no], [vol_cover], [project_id], [vol_hash]) VALUES (2, N'Chương 01', NULL, N'https://4.bp.blogspot.com/-8OyGbae0TdQ/WQ2qHp-Hz_I/AAAAAAAAQGs/ICjDJFNl09AVaoHD1MZOC1erNHEtxHZLQCHM/w220/default.jpg', 2, N'-302225340')
INSERT [dbo].[UpdateVol] ([id], [vol_name], [vol_no], [vol_cover], [project_id], [vol_hash]) VALUES (3, N'Chương 02', NULL, N'https://3.bp.blogspot.com/-eT0r5zvUKyo/WT1NG7-QTVI/AAAAAAAAY5o/ouFbHkhbwyknKVBqYTSVGqXe9qcB-SIvQCHM/w220/default.jpg', 2, N'431821847')
GO
SET IDENTITY_INSERT [dbo].[UpdateVol] OFF
ALTER TABLE [dbo].[Bookmark]  WITH CHECK ADD  CONSTRAINT [FK_Bookmark_Account] FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([username])
GO
ALTER TABLE [dbo].[Bookmark] CHECK CONSTRAINT [FK_Bookmark_Account]
GO
ALTER TABLE [dbo].[Bookmark]  WITH CHECK ADD  CONSTRAINT [FK_Bookmark_Project] FOREIGN KEY([project_id])
REFERENCES [dbo].[Project] ([project_id])
GO
ALTER TABLE [dbo].[Bookmark] CHECK CONSTRAINT [FK_Bookmark_Project]
GO
ALTER TABLE [dbo].[GenreMap]  WITH CHECK ADD  CONSTRAINT [FK_GenreMap_Genre] FOREIGN KEY([genre_id])
REFERENCES [dbo].[Genre] ([genre_id])
GO
ALTER TABLE [dbo].[GenreMap] CHECK CONSTRAINT [FK_GenreMap_Genre]
GO
ALTER TABLE [dbo].[GenreMap]  WITH CHECK ADD  CONSTRAINT [FK_GenreMap_Project] FOREIGN KEY([project_id])
REFERENCES [dbo].[Project] ([project_id])
GO
ALTER TABLE [dbo].[GenreMap] CHECK CONSTRAINT [FK_GenreMap_Project]
GO
ALTER TABLE [dbo].[UpdateChap]  WITH CHECK ADD  CONSTRAINT [FK_UpdateChap_TransGroup] FOREIGN KEY([update_group])
REFERENCES [dbo].[TransGroup] ([group_id])
GO
ALTER TABLE [dbo].[UpdateChap] CHECK CONSTRAINT [FK_UpdateChap_TransGroup]
GO
ALTER TABLE [dbo].[UpdateChap]  WITH CHECK ADD  CONSTRAINT [FK_UpdateChap_UpdateVol1] FOREIGN KEY([update_vol])
REFERENCES [dbo].[UpdateVol] ([id])
GO
ALTER TABLE [dbo].[UpdateChap] CHECK CONSTRAINT [FK_UpdateChap_UpdateVol1]
GO
ALTER TABLE [dbo].[UpdateVol]  WITH CHECK ADD  CONSTRAINT [FK_UpdateVol_Project] FOREIGN KEY([project_id])
REFERENCES [dbo].[Project] ([project_id])
GO
ALTER TABLE [dbo].[UpdateVol] CHECK CONSTRAINT [FK_UpdateVol_Project]
GO
/****** Object:  StoredProcedure [dbo].[UpdateChap_GET_UPDATE]    Script Date: 07/08/2018 10:28:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateChap_GET_UPDATE]
	@PageNumber INT = 1,
	@PageSize INT = 100,
	@ProjectID INT,
	@Total INT OUT
AS
BEGIN
	SET NOCOUNT ON;
	SELECT @Total = COUNT(UpdateChap.update_id)
	FROM UpdateChap INNER JOIN UpdateVol ON UpdateChap.update_vol = UpdateVol.id
	WHERE project_id = @ProjectID
	GROUP BY UpdateVol.project_id;
	SELECT *
	FROM UpdateChap
	WHERE UpdateChap.update_vol IN (
		SELECT id FROM UpdateVol WHERE project_id = @ProjectID
	)
	ORDER BY update_date DESC
	OFFSET @PageSize * (@PageNumber - 1) ROWS
	FETCH NEXT @PageSize ROWS ONLY OPTION (RECOMPILE)
END

GO
/****** Object:  StoredProcedure [dbo].[UpdateChap_LATEST_UPDATE_CHAPTER]    Script Date: 07/08/2018 10:28:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateChap_LATEST_UPDATE_CHAPTER]
	@PageNumber INT = 1,
	@PageSize INT = 100
AS
BEGIN
	SET NOCOUNT ON;

	SELECT *
	FROM UpdateChap
	ORDER BY update_date DESC
	OFFSET @PageSize * (@PageNumber - 1) + 1 ROWS
	FETCH NEXT @PageSize ROWS ONLY OPTION (RECOMPILE)
END

GO
/****** Object:  StoredProcedure [dbo].[UpdateChap_SEARCH_PROJECT]    Script Date: 07/08/2018 10:28:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UpdateChap_SEARCH_PROJECT]
	@PageNumber INT = 1,
	@PageSize INT = 100,
	@Keyword NVARCHAR(MAX),
	@Total INT OUT
AS
BEGIN
	SET NOCOUNT ON;
	SELECT @Total = COUNT(Project.project_id)
	FROM Project
	WHERE Project.project_name LIKE '%'+ @Keyword +'%';
	SELECT *
	FROM Project
	WHERE Project.project_name LIKE '%'+ @Keyword +'%'
	ORDER BY Project.project_view DESC
	OFFSET @PageSize * (@PageNumber - 1) ROWS
	FETCH NEXT @PageSize ROWS ONLY OPTION (RECOMPILE)
END

GO
USE [master]
GO
