<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:sqlserver://localhost\NGUYENNTTSE6232\NGUYENNTT:1433;database=NU_DB</property>
        <property name="connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name = "hibernate.connection.username">
            sa
        </property>
        <property name = "hibernate.connection.password">
            12345
        </property>
        <property name="hibernate.current_session_context_class">org.hibernate.context.internal.ThreadLocalSessionContext</property>
        <mapping class="com.prx301.finalproject.truyencapnhat.model.GroupEntity"/>
        <mapping class="com.prx301.finalproject.truyencapnhat.model.OriginEntity"/>
        <mapping class="com.prx301.finalproject.truyencapnhat.model.ProjectEntity"/>
        <mapping class="com.prx301.finalproject.truyencapnhat.model.UpdateEntity"/>
        <mapping class="com.prx301.finalproject.truyencapnhat.model.GenreEntity"/>


        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>