@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan|Lalezar|Roboto');

@font-face {
    font-family: "FontAwesome";
    font-weight: normal;
    font-style: normal;
    src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0");
    src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
}

html {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #6f7275;
}

body {
    margin: 0;
    position: relative;
    width: 100%;
    min-height: 130%;
}

a {
    text-decoration: none;
    color: black;
}

.card-1 {
    transition: all .3s;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.card-1:hover {
    z-index: 10;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
}

.card-2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.card-3 {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.card-4 {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-5 {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.nav-bar {
    width: 100%;
    height: auto;
    background: #FFFFFF;
    display: flex;
    font-family: 'Baloo Chettan', cursive;
    position: fixed;
    align-items: center;
    font-size: .9em;
    justify-content: space-around;
    z-index: 100;
    top: 0;
}

.nav-bar #logo {
    background-size: 100% 100%;
    width: 60px;
    height: 60px;
    margin-right: auto;
    margin-left: 15px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo::before {
    content: "LN3";
    font-size: 2em;
    color: #ffa028;
}

#logo::after {
    content: ".vn";
    font-size: 1.3em;
    position: relative;
    top: .18em;
}

.nav-item-center {
    flex-grow: 4;
    display: flex;
    padding-left: 35px;
    position: relative;
}

.search-bar {
    width: 50vw;
    max-width: 700px;
    padding: 8px;
    padding-left: 35px;
    font-size: 1.1em;
    position: relative;
    background: url('./res/search-icon.png') no-repeat;
    background-size: auto 70%;
    background-position-y: center;
    background-position-x: 5px;
    box-sizing: border-box;
    border: 1px solid #dcdcdc;
}

.nav-item-right {
    display: flex;
    flex-grow: 2;
    justify-content: flex-end;
}

.nav-item-right > div {
    padding: 20px 30px;
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0 5px;
    transition: all ease .3s;
    color: #d7d8d9;
}

.nav-item-right > div:hover {
    background: #d5d5d5;
    color: white;
    cursor: pointer;
}

.nav-item-right > div.focus {
    color: #454a4e;
}

.nav-item-right > div.focus::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: #ffa028;
}

.banner {
    width: 100%;
    height: 50vw;
    background: url('./res/Snkv2.svg');
    background-size: 100% auto;
    position: relative;
}

.banner-empty {
    width: 100%;
    height: 50px;
    position: relative;
}

.main-content {
    width: 100%;
    position: relative;
}

.card-panel-horz {
    width: 100%;
    padding: 10px;
    position: relative;
    box-sizing: border-box;
    padding-bottom: 40px;
}

.card-panel-horz .panel-header {
    font-size: 1.5em;
    margin: 20px 0;
}

.panel-content {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}

.panel-content .content-card {
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    margin: 20px 10px;
    border-radius: 5px;
    position: relative;
}

.content-card .title {
    display: flex;
    position: relative;
    width: 100%;
    height: 100px;
    justify-content: center;
    padding: 20px 10px 10px 10px;
    box-sizing: border-box;
}

.content-card .title::before {
    content: ' ';
    width: 3px;
    height: 50%;
    position: absolute;
    left: 0;
    background: #5DB0F4;
}

.title .divider-mono {
    font-weight: bold;
}

.title .divider-1 {
    margin-left: 5px;
    position: relative;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
}

.divider-1 .divider-head {
    font-size: .8em;
    position: absolute;
    top: -3px;
}

.divider-1 .diviver-content {
    font-size: 3em;
    display: flex;
    justify-content: center;
}

.title .divider-2 {
    margin-left: 5px;
    position: relative;
    padding: 5px 5px 14px 5px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    box-sizing: border-box;
}

.divider-2 .divider-head {
    font-size: 1.5em;
    display: flex;
    width: 100%;
}

.divider-2 .diviver-content {
    font-size: 0.8em;
    display: flex;
    justify-content: center;
    color: #aab2bd;
}

.panel-content .thumbnail {
    width: 100%;
    height: 100px;
    overflow: hidden;
    background: #5DB0F4;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}

.panel-content .thumbnail img {
    width: 100%;
    position: relative;
}

.panel-content .author {
    position: relative;
    width: 100%;
    padding: 10px 5px 0 5px;
    font-weight: bold;
}

.panel-content .time {
    position: relative;
    width: 100%;
    padding: 5px 5px 2px 5px;
    font-size: .8em;
}

.panel-content .followers {
    position: relative;
    width: 100%;
    padding: 10px 5px 5px 5px;
    display: flex;
}

.followers .follower {
    width: 30px;
    height: 30px;
    margin: 0 2px;
    background: #5DB0F4;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: .8em;
    border-radius: 5px;
}

.info-wrapper {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    position: absolute;
    height: 100%;
    top: -10vw;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

.project-info {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    font-size: .8em;
    justify-content: center;
    width: 60%;
    min-width: 300px;
    top: 2vw;
}

.project-info .synopsis {
    color: black;
    display: flex;
    width: 100%;
    position: relative;
    font-size: 1.2vw;
    justify-content: center;
    padding: 10px;
    font-weight: bold;
    margin-bottom: 2vw;
}

.synopsis span {
    display: block;
    max-width: 60%;
}

.project-info .project-info-item {
    width: 25%;
    min-width: 250px;
    margin: 15px 25px;
    padding: 50px 15px 15px 10px;
    box-sizing: border-box;
    background: white;
    display: flex;
    align-items: center;
    position: relative;
}

.project-info-item .side-info::before {
    content: "Thông tin";
    color: #325d81;
    font-weight: bold;
    font-size: 1.75em;
    position: absolute;
    top: 10px;
}

.project-info-item .main-info::before {
    content: "Giới thiệu";
    color: #f48c47;
    font-weight: bold;
    font-size: 1.75em;
    position: absolute;
    top: 10px;
}

.project-info-item .rating-info::before {
    content: "Đánh giá";
    color: #d65e6f;
    font-weight: bold;
    font-size: 1.75em;
    position: absolute;
    top: 10px;
}

.project-info-item .side-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.side-info > div {
    width: 50%;
    padding: 15px 0 5px 0;
    font-size: 1.25em;
    box-sizing: border-box;
    position: relative;
}

.side-info .start-date::before {
    content: "Bắt đầu";
    color: black;
    font-size: .75em;
    font-weight: bold;
    position: absolute;
    top: 0;
}

.side-info .country::before {
    content: "Xuất xứ";
    color: black;
    font-size: .75em;
    font-weight: bold;
    position: absolute;
    top: 0;
}

.side-info .view::before {
    content: "Lượt xem";
    color: black;
    font-size: .75em;
    font-weight: bold;
    position: absolute;
    top: 0;
}

.side-info .status::before {
    content: "Trạng thái";
    color: black;
    font-size: .75em;
    font-weight: bold;
    position: absolute;
    top: 0;
}

.side-info .genre::before {
    content: "Thể loại";
    color: black;
    font-size: .75em;
    font-weight: bold;
    position: absolute;
    top: 0;
}

.side-info .genre {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.side-info .genre a {
    border: 1px solid black;
    padding: 5px;
    margin: 2px;
    font-size: .75em;
    border-radius: 5px;
}

.side-info .tag::before {
    content: "Tag";
    color: black;
    font-size: .75em;
    font-weight: bold;
    position: absolute;
    top: 0;
}

.side-info .tag {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.side-info .tag a {
    margin: 2px;
    font-size: .85em;
}

.side-info .tag a::before {
    content: "#";
}

.project-info-item .main-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-info > div {
    padding: 15px 0 5px 0;
    box-sizing: border-box;
    position: relative;
    width: 100%;
}

.main-info > div:not(.alter-name) {
    width: 50%;
    font-size: 1.25em;
}

.main-info .author::before {
    content: "Tác giả";
    color: black;
    font-size: .75em;
    font-weight: bold;
    position: absolute;
    top: 0;
}

.main-info .artist::before {
    content: "Minh họa";
    color: black;
    font-size: .75em;
    font-weight: bold;
    position: absolute;
    top: 0;
}

.main-info .alter-name::before {
    content: "Tên khác";
    color: black;
    font-size: 1em;
    font-weight: bold;
    position: absolute;
    top: 0px;
    margin-bottom: 2px;
}

.main-info .alter-name ul {
    padding: 0px;
    margin: 2px;
}

.project-info-item .rating-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.rating-info > div {
    padding: 15px 0 5px 0;
    box-sizing: border-box;
    position: relative;
}

.rating-info .content-rating {
    width: 50%;
    font-size: 2em;
    display: flex;
    justify-content: center;
}

.rating-info .interact-rating {
    width: 50%;
    font-size: 2em;
    display: flex;
    justify-content: center;
}

.project-cover {
    position: relative;
    width: 30%;
    display: flex;
    justify-content: flex-end;
    position: relative;
    min-width: 200px;
    order: 3;
}

.project-cover .project-cover-item {
    position: fixed;
    top: 8vw;
    width: 20vw;
}

.project-cover-item img {
    position: relative;
    width: 100%;
    height: auto;
    display: block;
}

.project-nav {
    position: relative;
    display: flex;
    background: white;
    padding-left: 15px;
    z-index: 30;
}

.project-nav .project-nav-item {
    padding: 20px 20px;
    color: #dcdcdc;
    font-family: 'Baloo Chettan', cursive;
    position: relative;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.project-nav .project-nav-item:hover {
    color: rgba(93, 176, 244, .3);
}

.project-nav-item.focus {
    color: #5DB0F4;
}

.project-nav-item.focus::after {
    content: '';
    height: 2px;
    width: 100%;
    bottom: 0;
    position: absolute;
    background: #5DB0F4;
}

.card-panel-horz .panel-content.table {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 20px;
    box-sizing: border-box;
    padding-bottom: 80px;
}

.card-panel-horz .panel-content.table > div {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 0 10px;
}

.card-panel-horz .panel-content.table > div > div {
    width: 200px;
}

.panel-content .headers div {
    font-size: .9em;
    color: #8290af;
    padding: 10px 0;
    font-family: 'Lalezar', cursive;
}

.panel-content .row-card {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.panel-content .row-card .col {
    padding: 20px 0;
    display: flex;
    align-items: center;
}

.row-card .col.project-name a {
    font-weight: bold;
    color: #6f7275;
}

.panel-content.table .row-card:nth-child(odd) {
    background: white;
}

.panel-content.table .row-card:nth-child(even) {
    background: #f9fbfe;
}

.tab .tab-content:not(.show) {
    display: none;
}

.tab-content {
    position: relative;
    transition: all ease .3s;
    padding-bottom: 100px;
    min-height: 300px;
}

.search-info {
    position: relative;
    display: flex;
    padding: 10px;
    margin: 15px 25px;
    flex-wrap: wrap;
    clear: both;
}

.search-info .search-info-header {
    font-size: 1.4em;
    color: #6f7275;
    margin: 15px 0;
}

.search-section {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    margin-bottom: 10px;
}

.search-section .section-name {
    width: 100%;
    font-size: 0.9em;
    font-weight: bold;
    margin-bottom: 5px;
}

.search-section.origin {
    width: 100%;
}

.search-section .section-item {
    padding: 10px;
    position: relative;
    display: flex;
    align-items: center;
}

.search-section input[type=number] {
    padding: 5px;
    font-size: .9em;
    margin-left: 10px;
}

.search-section.genre {
    justify-content: space-between;
}

.search-section.genre .section-item {
    width: 20%;
    min-width: 100px;
    display: flex;
    position: relative;
}

.container {
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 10;
    /* Double-sized Checkboxes */
    -ms-transform: scale(2);
    /* IE */
    -moz-transform: scale(2);
    /* FF */
    -webkit-transform: scale(2);
    /* Safari and Chrome */
    -o-transform: scale(2);
    /* Opera */
}

/* Create a custom checkbox */

.cus-checkbox {
    position: relative;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    margin-right: 5px;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* On mouse-over, add a grey background color */

.container:hover input ~ .cus-checkbox {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */

.container input:checked ~ .cus-checkbox {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */

.cus-checkbox:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */

.container input:checked ~ .cus-checkbox:after {
    display: block;
}

/* Style the checkmark/indicator */

.container .cus-checkbox:after {
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.banner-project {
    width: 100%;
    height: 70vw;
    background: url('./res/bg.svg');
    background-size: 100% auto;
    position: relative;
    background-color: #00B4DB;
    /* fallback for old browsers */
    background-color: -webkit-linear-gradient(to bottom, #0083B0, #00B4DB);
    /* Chrome 10-25, Safari 5.1-6 */
    background-color: linear-gradient(to bottom, #0083B0, #00B4DB);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.header-bar {
    flex-wrap: wrap;
    position: absolute;
    z-index: 10;
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.crumb-bar {
    color: #051A38;
    font-size: 1.15vw;
    position: relative;
    margin-left: 10px;
}

.crumb-bar a {
    padding: 10px 15px;
    background: rgba(255, 255, 255, .7);
    border-radius: 20px;
}

.header-bar .nav-item-center {
    position: fixed;
    right: 10vw;
    top: 10px;
    width: 25%;
}

.header-bar .nav-item-center .search-bar {
    border: none;
    border-bottom: 1px solid #dcdcdc;
    position: relative;
    height: 40px;
}

.nav-item-center .dropdown {
    list-style-type: none;
    position: absolute;
    background: white;
    top: 26px;
    width: 90%;
    overflow: hidden;
    padding: 0;
    display: none;
}

.dropdown li {
    color: #26a69a;
    display: block;
    width: 100%;
}

.dropdown a {
    color: #26a69a;
    padding: 15px 30px;
    display: block;
}

.dropdown a:hover {
    cursor: pointer;
    background: #eeeeee;
}

/* SIDE WINDOW */

.side-window {
    width: 60%;
    height: 100%;
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    background: white;
    z-index: 100;
    overflow: hidden;
}

.config-list {
    position: relative;
    width: 100%;
    padding: 50px 20px 70px 20px;
    display: flex;
    flex-wrap: wrap;
}

.crawler-config {
    display: flex;
    padding: 20px;
    max-width: 300px;
    flex-wrap: wrap;
    position: relative;
    margin: 0 20px 0 10px;
    min-width: 200px;
}

.crawler-config .name {
    font-size: 1.25em;
    width: 100%;
    font-weight: bold;
}

.crawler-config:before {
    font-size: .7em;
    font-weight: bold;
    padding: 5px;
    width: 50px;
    text-align: center;
}

.crawler-config.inactive:before {
    content: "Inactive";
    color: white;
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    background: #ccc;
}

.crawler-config.running:before {
    content: "Running...";
    background: #2b91c5;
    color: white;
    display: block;
    position: absolute;
    right: 20px;
    top: 20px
}

.crawler-config.paused:before {
    content: "Paused";
    background: #2b91c5;
    color: white;
    display: block;
    position: absolute;
    right: 20px;
    top: 20px
}

.crawler-config li {
    list-style-type: none;
    margin-left: 20px;
    position: relative;
}

.crawler-info li:before {
    font-size: 0.75em;
    font-weight: bold;
    position: relative;
    color: #ccc;
    width: 50px;
    display: block;
    right: 10px;
}

.config-xsl:before {
    content: 'XSL dir:';
}

.config-xml:before {
    content: 'XML dir:';
}

ul.config {
    position: relative;
    padding: 10px;
    margin-bottom: 40px;
}

ul.config:before {
    content: "Chi tiết:";
    font-size: .8em;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.crawler-action {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 70%;
    display: flex;
    justify-content: flex-end;
}

.action-btn {
    padding: 10px 20px;
    margin: 0 5px;
}

.action-btn.run {
    background: #61d195;
    color: white;
}

.action-btn.pause {
    background: #fff6dd;
    color: black;
}

.action-btn.stop {
    background: #ff88a4;
    color: white;
}

.action-btn {
    cursor: pointer;
}

/* SIDE USER */

.side-user-window {
    position: fixed;
    height: 100%;
    width: 300px;
    z-index: 100;
    color: #606c7d;
    background: #364150;
    right: 0;
    padding-top: 50px;
    text-align: center;
    overflow: hidden;
    display: none;
    top: 0;
}

.icon-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.login-text .icon-wrapper {
    position: absolute;
    left: 10px;
    top: -10px;
}

.med-icon {
    padding: 10px;
    width: 50px !important;
    max-height: 15px;
    background: #c13c40;
    border-radius: 35px 35px 35px 0px;
    position: absolute !important;
    right: 10px;
    top: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Baloo Chettan', cursive;
    color: white;
    box-shadow: 0px 0px 5px black;
}

.med-icon::before {
    content: "LN3";
    font-size: 1.1em;
    color: #ffa028;
}

.med-icon::after {
    content: ".vn";
    font-size: 0.78em;
    position: relative;
    top: .18em;
}

.login-text {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 5px;
    font-family: 'Lalezar';
    background: #1caf9a;
    color: white;
    padding: 10px 0;
    height: 40px;
}

.login-text .fa-user-circle {
    margin-right: 10px;
    font-size: 2.5em;
}

.login-text span {
    font-size: 1.2em !important;
}

.login-content {
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 40px;
    flex-direction: column;
}

.project-detail input {
    width: 80% !important;;
}

.login-content input {
    padding: 10px;
    width: 60%;
    margin: 5px auto;
    padding-left: 40px;
    font-size: 1.05em;
    position: relative;
}

.login-content div {
    width: 100%;
    height: auto;
    position: relative;
}

.login-content .username::before {
    content: "\f007";
    font-family: 'FontAwesome';
    font-size: 1.5em;
    position: absolute;
    z-index: 10;
    height: 100%;
    display: flex;
    align-items: center;
    left: 45px;
}

.login-content .password::before {
    content: "\f023";
    font-family: 'FontAwesome';
    font-size: 1.5em;
    position: absolute;
    z-index: 10;
    height: 100%;
    display: flex;
    align-items: center;
    left: 45px;
}

.message-box {
    height: 30px !important;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #c13c40;
    font-weight: bold;
}

.message-box span {
    display: block;
}

.login-content > span {
    color: white;
    font-size: .9em;
    display: block;
    margin-top: 15px;
}

.signup-content > span {
    color: white;
    font-size: .9em;
    display: block;
    margin-top: 15px;
}

.btn-action {
    padding: 12px;
    background: #17c0a7;
    margin-top: 15px;
    max-width: 100px !important;
    color: #364150;
    transition: all ease .5s;
}

.btn-action:hover {
    background: #25af9a;
    cursor: pointer;
}

.btn-action:active {
    background: #148372;
}

.login-text .fa-plus-circle {
    margin-right: 10px;
    font-size: 2.5em;
}

.signup-content {
    display: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 40px;
    flex-direction: column;
}

.signup-content input {
    padding: 5px;
    width: 80%;
    margin: 5px auto;
    font-size: 1.05em;
    position: relative;
}

.signup-content > div {
    width: 100%;
    height: auto;
    position: relative;
    margin-top: 20px;
}

.signup-content .info::before {
    position: absolute;
    top: -14px;
    z-index: 5;
    font-size: .9em;
    font-weight: bold;
    color: #9da8b9;
}

.username::before {
    content: "tài khoản";
}

.password::before {
    content: "mật khẩu";
}

.confirm::before {
    content: "xác nhận mật khẩu";
}

.signup-content .btn-action {
    background: #c13c40;
    color: white;
}

.signup-content .btn-action:hover {
    background: #dd464b;
}

.signup-content .btn-action:active {
    background: #8a2a2d;
}

/* PROFILE SECT */

.profile-content {
    position: relative;
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.profile-content .profile-text {
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    padding: 20px 0 40px 0;
    justify-content: center;
    margin: 30px auto 0 auto;
    flex-direction: column;
    align-items: center;
}

.profile-text .avatar-sect {
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.profile-text img {
    width: 100%;
    height: auto;
}

.avatar-sect div {
    position: absolute;
    background: white;
    display: flex;
    height: 110px;
    width: 110px;
    justify-content: center;
    align-items: center;
    font-size: .8em;
    border-radius: 50%;
    bottom: -75%;
}

.avatar-sect div span {
    position: relative;
    top: -40px;
    font-weight: bold;
}

.menu-sect {
    width: 100%;
    margin-top: 20px;
    display: flex;
    position: relative;
}

.menu-sect > div {
    width: 50%;
    padding: 15px;
    border-bottom: 3px solid white;
}

.menu-sect .bookmark-menu {
    background: white;
}

.menu-sect .logout-menu {
    display: flex;
    justify-content: center;
    position: relative;
}

.logout-menu::before {
    content: "\f08b";
    font-family: "FontAwesome";
    font-size: 1.5em;
}

.logout-menu:hover {
    color: white;
    cursor: pointer;
}

.bookmark-list {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.bookmark-list .item {
    height: 80px;
    overflow: hidden;
    align-items: center;
    position: relative;
}

.item .thumb {
    height: 100%;
    width: 100%;
    background-size: 100% auto !important;
    background-repeat: no-repeat;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 1)),
    url('Volume_9_Cover.png');
    opacity: .2;
    position: relative;
    background-position-y: -50px;
}

.item .info {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    padding-left: 40px;
    box-sizing: border-box;
    color: white;
    font-family: "Chettan";
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    transition: all ease .3s;
}

.item:hover {
    cursor: pointer;
}

.item:active {
    background: black;
}

.item .info .info-name {
    font-size: 1.2em;
    width: 100%;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.item .info .info-chapter, .info-view {
    width: 15%;
    font-size: .8em;
}

.item .info .info-chapter::after {
    content: "\f0f3";
    font-family: "FontAwesome";
}
.item .info .info-date{
    margin-left: 30px;
    font-size: .8em;
}

.item  .info .info-date::after {
    content: '\f073';
    font-family: "FontAwesome";
}

.item .info .info-view::after {
    content: "\f06e";
    font-family: "FontAwesome";
}

#profileBtn::before {
    content: "\f015";
    font-family: "FontAwesome";
}

#profileBtn {
    font-family: "Baloo Chettan";
    display: flex;
    align-items: center;
}

.thumbnail .overlay-name {
    display: flex;
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, .6);
    height: 100%;
    width: 100%;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: "Baloo Chettan";
    font-size: 1.15em;
    padding: 0 15px;
    box-sizing: border-box;
    transition: all ease .5s;
}

.thumbnail:hover .overlay-name {
    border-radius: 150px;
    opacity: 0;
}

.thumbnail img {
    animation-name: thumbnailAnm;
    animation-duration: 10s;
    transition: all ease .3s;
    animation-iteration-count: infinite;
    animation-delay: .3s;
}

@keyframes thumbnailAnm {
    0% {
        top: 0;
    }
    25% {
        top: 100%;
    }
    75% {
        top: -100%;
    }
    100% {
        top: 0%;
    }
}

.error-page {
    width: 100%;
    height: 100%;
    min-height: 700px;
    position: relative;
    background: black;
    display: flex;
    align-items: center;
}

.error-page .error-img {
    background: url('tom-collared1.jpg');
    background-size: 100% auto;
    width: 50%;
    height: 80%;
    position: absolute;
    background-position: center;
    margin: auto 0;
    display: block;
    right: 0;
    background-repeat: no-repeat;
    overflow: hidden;
}

.error-page .error-warning {
    position: absolute;
    padding: 30px;
    width: 50%;
    box-sizing: border-box;
    text-align: right;
}

.error-page span:nth-child(1) {
    font-family: "Lalezar";
    font-size: 8em;
    color: #f7f256;
    display: block;
}

.error-page span:nth-child(2) {
    font-family: "Lalezar";
    font-size: 2em;
    color: #f7f256;
    display: block;
    position: relative;
    top: -50px;
}

.error-warning a {
    color: white;
    font-size: 1.5em;
    display: block;
    transition: all ease .3s;
    position: relative;
}

.error-warning a::before {
    content: "\f053";
    font-family: 'FontAwesome';
    padding-right: 5px;
}

.error-warning:hover a {
    margin-right: 40px;
}

.err-msg {
    font-size: 0.6em;
    color: #8a2a2d;
    top: 45px;
    left: 20px;
    position: absolute;
}

.pagination {
    position: absolute;
    display: flex;
    justify-content: center !important;
    align-items: center;
    max-width: 200px !important;
    padding: 10px;
    right: 0;
    bottom: -40px;
    box-sizing: border-box;
}

.pagination a {
    width: 25px;
    height: 25px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.hasNext::after {
    content: "\f054";
    font-family: "FontAwesome";
}

.hasPrev::before {
    content: "\f053";
    font-family: "FontAwesome";
}

.pagination a.cur {
    background: #5DB0F4;
    color: white;
}

/*SCROLL BAR*/
.custom-scroll {
    position: absolute;
    width: 15px;
    height: 100%;
    right: 0;
    top: 0;
}

.custom-scroll.focus {
    background: rgba(0, 0, 0, .02);
}

.custom-scroll div {
    background: #9da8b9;
    height: 30px;
    width: 100%;
    position: relative;
    top: 0px;
    transition: all ease .3s;
    opacity: 0;
}

#side-window:hover .custom-scroll div {
    opacity: 1;
}

#total {
    display: none;
}

#xsl, .xsl {
    display: none;
}

.bread-crumb {
    margin-top: 70px;
    padding: 20px;
    display: flex;
    align-items: center;
}

.bread-crumb a {
    color: #6f7275;
    font-size: 1.4em;
    transition: all ease .3s;
    padding: 10px;
    border-radius: 5px;
}

.bread-crumb a.main {
    font-weight: bold;
}

.bread-crumb .main:hover {
    background: #5DB0F4;
    color: white;
}

.bread-crumb a.main::after {
    content: '\f054';
    font-family: "FontAwesome";
    font-weight: normal;
    padding: 10px 0 10px 10px;
    font-size: .8em;
}

.search-result {
    min-height: 500px;
}

#no-result {
    font-size: 1.2em;
    font-style: italic;
    color: #8290af;
}

.panel-header span {
    font-size: 1.2em;
    font-weight: bold;
}

.burger-menu {
    width: 50px;
    height: 50px;
    position: fixed;
    right: 5px;
    top: 5px;
    z-index: 100;
    justify-content: center;
    align-items: center;
    display: flex;
    background: #c13c40;
    border-radius: 50%;
    cursor: pointer;
}

.burger-menu:after {
    content: '\f00b';
    font-family: "FontAwesome";
    color: white;
    font-size: 1.5em;
}

.burger-menu:before {
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: all ease-out .3s;
    animation-name: shine;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-delay: 1s;
    position: absolute;
}

@keyframes shine {
    0% {
        background: #7a2f33;
        width: 0%;
        height: 0%;
        opacity: 0;
    }
    15% {
        background: #de4f54;
        width: 150%;
        height: 150%;
        opacity: .3;
    }
    30% {
        background: #7a2f33;
        width: 0%;
        height: 0%;
        opacity: 0;
    }
    45% {
        background: #de4f54;
        width: 150%;
        height: 150%;
        opacity: .3;
    }
    46% {
        background: #de4f54;
        width: 0%;
        height: 0%;
        opacity: 0;
    }
    100% {
        background: #de4f54;
        width: 0%;
        height: 0%;
        opacity: 0;
    }
}

.onclick-span {
    cursor: pointer;
}

#mostview-table .title {
    height: 100px;
    font-size: .8em;
}

#more-result {
    display: none;
    position: absolute;
    bottom: 0;
    font-size: 1.2em;
    padding: 15px;
    background: #ffa028;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

#more-result:active {
    background: #955d19;
}

.bookmark-overlay {
    position: absolute;
    background: rgba(0, 0, 0, .5);
    top: 0;
    height: 100%;
    width: 100%;
    color: white;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transition: all ease .6s;
}

.bookmark-overlay:hover {
    opacity: 1;
    animation-name: zoomIn;
    animation-duration: .5s;
    animation-iteration-count: 1;
}

.bookmark-overlay .project-name {
    width: 100%;
    text-align: center;
    font-size: 1.5vw;
    color: mintcream;
    font-family: 'Baloo Chettan';
}

.bookmark-overlay .bookmark-btn {
    position: absolute;
    top: 50%;
    padding: 1vw;
    font-size: 1.5vw;
    border: 3px solid #de4f54;
    color: #de4f54;
    background: white;
    font-weight: bold;
    cursor: pointer;
    display: none;
}

.bookmark-overlay .bookmarked-btn {
    position: absolute;
    top: 50%;
    padding: 1vw;
    font-size: 1.5vw;
    color: white;
    background: #de4f54;
    font-weight: bold;
    cursor: pointer;
    display: none;
}

.bookmark-btn:hover {
    color: white;
    background: #de4f54;
}

.bookmark-btn:active {
    background: #bf4549;
    border-color: #bf4549;
}

.bookmark-info:after {
    margin: 0 5px;
}


.bookmark-info {
    padding: 5px;
}