USE [master]
GO
/****** Object:  Database [NU_DB]    Script Date: 07/04/2018 5:16:57 PM ******/
CREATE DATABASE [NU_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NU_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.NGUYENNTT\MSSQL\DATA\NU_DB.mdf' , SIZE = 6144KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'NU_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.NGUYENNTT\MSSQL\DATA\NU_DB_log.ldf' , SIZE = 10176KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NU_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NU_DB]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 07/04/2018 5:16:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NULL,
	[isAdmin] [bit] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Genre]    Script Date: 07/04/2018 5:16:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genre](
	[genre_id] [nvarchar](50) NOT NULL,
	[genre] [nvarchar](150) NULL,
 CONSTRAINT [PK_Genre] PRIMARY KEY CLUSTERED 
(
	[genre_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GenreMap]    Script Date: 07/04/2018 5:16:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GenreMap](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[project_id] [int] NULL,
	[genre_id] [nvarchar](50) NULL,
 CONSTRAINT [PK_Tag] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Project]    Script Date: 07/04/2018 5:16:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Project](
	[project_id] [int] IDENTITY(1,1) NOT NULL,
	[project_name] [nvarchar](3000) NOT NULL,
	[project_alter_name] [nvarchar](4000) NULL,
	[project_publish_date] [date] NULL,
	[project_author] [nvarchar](500) NULL,
	[project_illustrator] [nvarchar](500) NULL,
	[project_synopsis] [nvarchar](4000) NULL,
	[project_hash] [nvarchar](500) NOT NULL,
	[project_tag] [int] NULL,
	[project_view] [int] NULL,
	[project_point] [int] NULL,
	[project_last_update] [datetime] NULL,
	[project_total_update] [int] NULL,
	[project_link] [nvarchar](500) NULL,
 CONSTRAINT [PK_Project] PRIMARY KEY CLUSTERED 
(
	[project_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TransGroup]    Script Date: 07/04/2018 5:16:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransGroup](
	[group_id] [int] IDENTITY(1,1) NOT NULL,
	[group_name] [nvarchar](200) NULL,
	[group_contact] [nvarchar](500) NULL,
 CONSTRAINT [PK_Groups] PRIMARY KEY CLUSTERED 
(
	[group_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UpdateChap]    Script Date: 07/04/2018 5:16:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UpdateChap](
	[update_id] [int] IDENTITY(1,1) NOT NULL,
	[update_name] [nvarchar](500) NULL,
	[update_vol] [int] NULL,
	[update_date] [datetime] NULL,
	[update_group] [int] NULL,
	[update_link] [nvarchar](500) NULL,
 CONSTRAINT [PK_Updates] PRIMARY KEY CLUSTERED 
(
	[update_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UpdateVol]    Script Date: 07/04/2018 5:16:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UpdateVol](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[vol_name] [nvarchar](50) NULL,
	[vol_no] [int] NULL,
	[vol_cover] [varchar](200) NULL,
	[project_id] [int] NULL,
	[vol_hash] [nvarchar](100) NULL,
 CONSTRAINT [PK_UpdateVol] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[GenreMap]  WITH CHECK ADD  CONSTRAINT [FK_GenreMap_Genre] FOREIGN KEY([genre_id])
REFERENCES [dbo].[Genre] ([genre_id])
GO
ALTER TABLE [dbo].[GenreMap] CHECK CONSTRAINT [FK_GenreMap_Genre]
GO
ALTER TABLE [dbo].[GenreMap]  WITH CHECK ADD  CONSTRAINT [FK_GenreMap_Project] FOREIGN KEY([project_id])
REFERENCES [dbo].[Project] ([project_id])
GO
ALTER TABLE [dbo].[GenreMap] CHECK CONSTRAINT [FK_GenreMap_Project]
GO
ALTER TABLE [dbo].[UpdateChap]  WITH CHECK ADD  CONSTRAINT [FK_UpdateChap_TransGroup] FOREIGN KEY([update_group])
REFERENCES [dbo].[TransGroup] ([group_id])
GO
ALTER TABLE [dbo].[UpdateChap] CHECK CONSTRAINT [FK_UpdateChap_TransGroup]
GO
ALTER TABLE [dbo].[UpdateChap]  WITH CHECK ADD  CONSTRAINT [FK_UpdateChap_UpdateVol1] FOREIGN KEY([update_vol])
REFERENCES [dbo].[UpdateVol] ([id])
GO
ALTER TABLE [dbo].[UpdateChap] CHECK CONSTRAINT [FK_UpdateChap_UpdateVol1]
GO
ALTER TABLE [dbo].[UpdateVol]  WITH CHECK ADD  CONSTRAINT [FK_UpdateVol_Project] FOREIGN KEY([project_id])
REFERENCES [dbo].[Project] ([project_id])
GO
ALTER TABLE [dbo].[UpdateVol] CHECK CONSTRAINT [FK_UpdateVol_Project]
GO
/****** Object:  StoredProcedure [dbo].[UpdateChap_LATEST_UPDATE_CHAPTER]    Script Date: 07/04/2018 5:16:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateChap_LATEST_UPDATE_CHAPTER]
	@PageNumber INT = 1,
	@PageSize INT = 100
AS
BEGIN
	SET NOCOUNT ON;

	SELECT *
	FROM UpdateChap
	ORDER BY update_date DESC
	OFFSET @PageSize * (@PageNumber - 1) + 1 ROWS
	FETCH NEXT @PageSize ROWS ONLY OPTION (RECOMPILE)
END

GO
USE [master]
GO
